*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: black;
    --white: white;
    --gray: gray;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: black;
    border: 3px solid gold;
    margin: auto;
}
.maria h1 {
    position: absolute;
    color: lightblue;
    top: 360px;
    padding-left: 20px;
}
.glad {
    position: absolute;
    color: lightblue;
    top: 400px;
    left: 740px;
    padding-top: 20px;
    }
.candle1  {
 width: 100%;
 display: flex;
 position: relative;
}
.body1, .body2, .body3, .body4, .body5 {
    position: absolute;
    width: 50px;
    height: 230px;
    background-color: var(--white);
}    
.eld1, .eld2, .eld3, .eld4, .eld5 {
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: gold;
    border-radius: 50%; 
}
.string1, .string2, .string3, .string4, .string5 {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: gray;
}  

.body2 {
    left: 700px;
    top: 130px; 
}
.body3 {
    left: 800px;
    top: 130px; 
}
.body4 {
    left: 900px;
    top: 130px; 
}
.body5 {
    left: 1000px;
    top: 130px; 
}

.string2 {
left: 920px;
top: 110px;     
}
.string3 {
left: 820px;
top: 110px;     
}
.string4 {
left: 720px;
top: 110px;     
}
.string5 {
left: 1020px;
top: 110px;     
}

.eld2 {
left: 907px;
top: 70px; 
} 
.eld3 {
left: 807px;
top: 70px; 
}
.eld4 {
left: 707px;
top: 70px; 
}
.eld5 {
left: 1007px;
top: 70px; 
}
@keyframes pulse {
    0% { box-shadow: 0 0 40px 10px yellow; }
    50% { box-shadow: 0 0 80px 25px yellow; }
    100% { box-shadow: 0 0 40px 10px yellow; }
}

.eld2, .eld3, .eld4, .eld5 {
    animation: pulse 3s infinite;
}







